@layer transition {
  .fade-enter-active {
    transition: opacity var(--duration-base) ease;
  }

  .fade-enter-from {
    opacity: 0;
  }

  .fade-enter-to {
    opacity: 1;
  }

  .fade-leave-active {
    transition: opacity var(--duration-base) ease 0.18s;
  }

  .fade-leave-from {
    opacity: 1;
  }

  .fade-leave-to {
    opacity: 0;
  }
}
